name: Deploy Frontend to Firebase Hosting

on:
  push:
    branches:
      - main
    paths:
      - "frontend/**" # Run only when files in frontend/ change

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend # Run commands inside frontend/

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Build Project
        run: npm run build

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_NI_ITCLUB }}
          channelId: live
          projectId: ni-itclub
          entryPoint: frontend

